on:
  push:
    tags:
      - "sema4ai-*"

name: Release - Sema4.ai Extension
jobs:
  deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./sema4ai

    strategy:
      fail-fast: true

    steps:
      - uses: actions/checkout@v4
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 20.x
          cache: 'npm'
          cache-dependency-path: sema4ai/package-lock.json
      - name: Install dependencies
        run: npm ci
      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - name: Install deps
        run: pip install --upgrade pip fire poetry
      - name: Vendor sema4ai_ls_core
        run: python -m dev vendor-robocorp-ls-core
      - name: Fix README references
        run: python -m dev fix-readme
      - name: Generate LICENSE.md
        run: python -m dev generate-license-file
      - name: Install locally
        working-directory: ./sema4ai
        run: poetry install
      - name: Run codegen
        run: python -m dev codegen
        working-directory: ./sema4ai
        env:
          PYTHONPATH: src

      - name: Check tag version
        run: python -m dev check-tag-version

      - name: Copy changelog to root for vsce
        run: cp ../docs/changelog.md CHANGELOG.md

      # Deal with Windows --------------
      - name: Download rcc for windows
        run: python -m dev download-rcc win32

      - run: npm run vsce:package -- --target win32-x64 -o sema4ai-win32-x64.vsix

      - uses: actions/upload-artifact@v4
        with:
          name: sema4ai-win32-x64.vsix
          path: ./sema4ai/sema4ai-win32-x64.vsix

      - name: Publish to vscode marketplace
        run: npm run vsce:publish -- --packagePath ./sema4ai-win32-x64.vsix -p $VSCODE_VSCE_TOKEN
        env:
          VSCODE_VSCE_TOKEN: ${{ secrets.VSCODE_VSCE_TOKEN }}

      - name: Publish windows to open vsx marketplace
        run: npx ovsx publish sema4ai-win32-x64.vsix -p $VSCODE_OPEN_VSX_TOKEN
        env:
          VSCODE_OPEN_VSX_TOKEN: ${{ secrets.VSCODE_OPEN_VSX_TOKEN }}

      # Deal with Linux --------------
      - name: Download rcc for linux
        run: python -m dev download-rcc linux

      - run: npm run vsce:package -- --target linux-x64 -o sema4ai-linux-x64.vsix

      - uses: actions/upload-artifact@v4
        with:
          name: sema4ai-linux-x64.vsix
          path: ./sema4ai/sema4ai-linux-x64.vsix

      - name: Publish to vscode marketplace
        run: npm run vsce:publish -- --packagePath ./sema4ai-linux-x64.vsix -p $VSCODE_VSCE_TOKEN
        env:
          VSCODE_VSCE_TOKEN: ${{ secrets.VSCODE_VSCE_TOKEN }}

      - name: Publish linux to open vsx marketplace
        run: npx ovsx publish sema4ai-linux-x64.vsix -p $VSCODE_OPEN_VSX_TOKEN
        env:
          VSCODE_OPEN_VSX_TOKEN: ${{ secrets.VSCODE_OPEN_VSX_TOKEN }}

      # Deal with Darwin x64 --------------
      - name: Download rcc for darwin
        run: python -m dev download-rcc darwin

      - run: npm run vsce:package -- --target darwin-x64 -o sema4ai-darwin-x64.vsix

      - uses: actions/upload-artifact@v4
        with:
          name: sema4ai-darwin-x64.vsix
          path: ./sema4ai/sema4ai-darwin-x64.vsix

      - name: Publish to vscode marketplace
        run: npm run vsce:publish -- --packagePath ./sema4ai-darwin-x64.vsix -p $VSCODE_VSCE_TOKEN
        env:
          VSCODE_VSCE_TOKEN: ${{ secrets.VSCODE_VSCE_TOKEN }}

      - name: Publish darwin to open vsx marketplace
        run: npx ovsx publish sema4ai-darwin-x64.vsix -p $VSCODE_OPEN_VSX_TOKEN
        env:
          VSCODE_OPEN_VSX_TOKEN: ${{ secrets.VSCODE_OPEN_VSX_TOKEN }}

      # Deal with Darwin arm64 --------------
      - name: Download rcc for darwin arm64
        run: python -m dev download-rcc darwin-arm64

      - run: npm run vsce:package -- --target darwin-arm64 -o sema4ai-darwin-arm64.vsix

      - uses: actions/upload-artifact@v4
        with:
          name: sema4ai-darwin-arm64.vsix
          path: ./sema4ai/sema4ai-darwin-arm64.vsix

      - name: Publish to vscode marketplace
        run: npm run vsce:publish -- --packagePath ./sema4ai-darwin-arm64.vsix -p $VSCODE_VSCE_TOKEN
        env:
          VSCODE_VSCE_TOKEN: ${{ secrets.VSCODE_VSCE_TOKEN }}

      - name: Publish darwin to open vsx marketplace
        run: npx ovsx publish sema4ai-darwin-arm64.vsix -p $VSCODE_OPEN_VSX_TOKEN
        env:
          VSCODE_OPEN_VSX_TOKEN: ${{ secrets.VSCODE_OPEN_VSX_TOKEN }}
